<p id="notice"><%= notice %></p>

<h1>Websites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.name %></td>
        <td><%= website.created_on %></td>
        <td><%#= link_to 'Show',  "/websites/1"websites_show_path(website.id) %></td>
        <td><%#= link_to 'Edit', websites_edit_path(website) %></td>
        <td><%#= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', websites_new_path %>
